<!DOCTYPE html>
 <html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ChatApp</title>
        <link rel="stylesheet" href="~/css/site.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="navbar">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Find">Find</a>
            <a asp-controller="Home" asp-action="Private">Private</a>
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
        <div class="main">
            @if(User.Identity.IsAuthenticated)
            {
            <vc:room></vc:room>
            }
            <div class="chat">
                @RenderBody()
            </div>
        </div>
        <div class="modal active" id="create-room-modal">
            <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
                <button type="button" class="close" onclick="closeModal()">X</button>
                <header>Create Room</header>
                <div>
                    <input name="name">
                </div>
                <footer>
                    <button>Create</button>
                </footer>
            </form>
        </div>
        <script src="~/js/site.js"></script>
       @RenderSection("Scripts", false) 
    </body>
</html>